

#page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 0px 3px 3px 3px;
  border-color: white;
  border-style: solid;
  button {
    display: flex;
    position: absolute;
    align-self: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 3.7%;
    left: 6%;
    height: 5em;
    width: 6em;
    border: 3px solid black;
    background-color: #C724B1;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s;
    // @include mq('sm') {
    //   top: 1.4em;
    //   left: 3em;
    //   height: 5em;
    //   width: 7em;
    // }
    @include mq('md') {
      transition: 0.5s;
      left: 10%;
    };
    @include mq('lg') {
      transition: 0,5s;
      left: 7%;
    };

  };


  button:hover{
    border-color: white;
    cursor: pointer;
    transition: 0s;

  }

};

#site-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    text-decoration: none;
    color: white;
  }

  h1{
    height: 0.2em;
    text-decoration: none;
  };
};

#header-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 100%;
};
