#image-window {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  border-left: 1px solid brown;
  overflow: scroll;
};

.base-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
};


.saved-image-1 {
  width: 100%;
  height: 100%;
};

.saved-image-2 {
  width: 45%;
  height: 50%;
};

.saved-image-3 {
  width: 30%;
  height: 20em;
  margin-bottom: 2.5em;
  
};
