#my-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 22px;
  font-family: cursive;

  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    padding-left: 0;
  }
  h2 {
    width: 80%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 2em;
      }
  li {
    list-style: none;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 2em;
    width: 100%;
    
  }
  li:hover {
    text-decoration: underline;
    border-color: white;
    cursor: pointer;
  }
};


#border-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  height: 97%;
  border: 3px solid black;
  margin-left: 3px;

}
